{{ define "bookstable" }}

<h1>Books</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
        {{ range $idx, $book := .Books }}
        <tr>
            <th scope="row">{{$idx}}</th>
            <td>{{$book.Name}}</td>
            <td>{{$book.Author}}</td>
          </tr>
        {{ end }}
    </tbody>
  </table>

{{ end }}