<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>
    <h1>Homepage</h1>
    <table class="table table-dark">
        <thead>
          <tr><th>#</th><th>ID</th><th>Title</th><th>Author</th><th>Link</th></tr>
        </thead>
        {{range $index, $element := .}}
        <tr><td>{{$index}}</td><td>{{$element.ID}}</td><td>{{$element.Title}}</td><td>{{$element.Author}}</td><td>{{$element.Link}}</td></tr>
        {{end}}
    </table>
</body>
