{{ define "bookstable"}}

<h1>Bookstable</h1>

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
        {{ range $idx, $data := . }}
        <tr>
            <th scope="row">{{$idx}}</th>
            <td>{{$data.Title}}</td>
            <td>{{$data.Author}}</td>
          </tr>
        {{ end }}
    </tbody>
  </table>

{{ end }}








