<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://unpkg.com/htmx.org@1.9.4"
    integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
    crossorigin="anonymous"></script>
  <link type="css"/>
  <link rel="stylesheet" href="/frontend/static/assets/css/test.css">
  <title>HTMX-Example</title>
</head>

<body>
  <h1>HTMX Example</h1>
  <h2>Time example</h2>
  {{ template "htmx_time.html" . }}
  <!-- <div hx-get="/htmx/time.html" hx-trigger="load" hx-swap="outerHTML"></div> -->
  <h2>Spinner indicator example</h2>
  <button hx-get="/click" hx-indicator="#indicator" hx-swap="innerHTML">
    Click Me!
  </button>
  <img id="indicator" class="htmx-indicator" src="/frontend/static/assets/spinner.gif" />
</body>

</html>