{{ define "navbar" }}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/static/favicon/favicon-32x32.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Book-Shop ({{ .VERSION }})
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Overview <span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>
{{ end }}